.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    justify-content: center;
    display: flex;
    font: 100px "Helvetica Neue";
    color: #AF2f2f26;
    font-weight: lighter;
}
.content-parent{
    box-shadow: 0 2px 4px 2px rgba(143, 141, 141, 0.3),
    0 0 2px 0 rgba(0, 0, 0, 0);
}
.input-parent {
    display: flex;
    flex-direction: row;
}

.icon {
    display: flex;
    padding: 0;
    width: 5vw;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background: white;
   color: #b5b3b3;
}

.input {
    padding: 16px;
    font: 20px "Helvetica Neue";
    font-weight: 300;
    width: 45vw;
    border: none;
    }

.listItem {
    display: flex;
    padding: 5px;
    font: 24px "Helvetica Neue";
    font-weight: 300;
    height: 35px;
    background: white;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e3e3e3;
}

.completed {
    display: flex;
    padding: 5px;
    font:24px "Helvetica Neue";
    font-weight: 200;
    color: #a2a0a0;
    height: 35px;
    border-top: 1px solid #e3e3e3;
    background: white;
    flex-direction: row;
    align-items: center;
    text-decoration: line-through;
}

.filters {
    display: flex;
    padding: 5px;
    font: 14px "Helvetica Neue";
    font-weight: 200;
    background: white;
    flex-direction: row;
    color: gray;
    align-items: center;
    border-top: 1px solid #e3e3e3;
    justify-content: space-between;
}

.filterButtons {
    display: flex;
    background: transparent;
    border: none;
    font-weight: 300;
    font-size: 15px;
    color: gray;
    font-family: "Helvetica Neue";
}

.active {
    display: flex;
    border-radius: 3px;
    border: 1px solid rgba(234, 118, 118, 0.29);
    font-weight: 300;
    font-size: 15px;
    font-family: "Helvetica Neue";
}

.filterButtons:hover {
    display: flex;
    border-radius: 3px;
    border: 1px solid rgba(179, 96, 96, 0.11);
    font-weight: 300;
    font-size: 15px;
    font-family: "Helvetica Neue";
}